<div class="relative bg-white rounded-lg shadow-lg border border-[var(--border-color)] p-2 font-sans">
  <table class="w-full border-collapse">
    <tbody>
      <tr *ngFor="let fila of carton; let i = index">
        <td *ngFor="let celda of fila; let j = index"
            (click)="onToggleCelda(i, j)"
            [style.background-image]="isLogoCell(i, j) ? 'url(assets/img/logo.png)' : null"
            [ngClass]="{
              'marcada': estaMarcada(celda),
              'bg-white': celda && celda.numero !== null && !isLogoCell(i, j) && !estaMarcada(celda),
              'bg-transparent border-none': !celda || celda.numero === null,
              'cursor-pointer hover:bg-gray-100': celda && celda.numero !== null && !estaMarcada(celda) && !isLogoCell(i, j),
              'bg-no-repeat bg-center bg-contain opacity-20': isLogoCell(i, j)
            }"
            class="celda w-1/9 text-center h-10 sm:h-12 border border-[var(--border-color)] text-base sm:text-xl font-bold text-[var(--text-dark)] transition-all duration-200 ease-in-out">
          <ng-container *ngIf="!isLogoCell(i, j)">{{ celda?.numero }}</ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
