:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #d1d5db;
}

:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  color: var(--itb-accent-blue);
}

:host ::ng-deep .mat-form-field.ng-invalid.ng-touched .mat-form-field-outline {
  color: #ef4444 !important;
}

:host ::ng-deep .mat-input-element {
  color: var(--text-dark);
}


/* Estilo para el botón primario con gradiente */
.btn-primary-gradient {
  background: linear-gradient(45deg, var(--itb-accent-blue), var(--itb-light-blue));
  color: white;
  border: none;
}

/* Estilo para los botones secundarios */
.btn-secondary-custom {
  border-color: #cbd5e1; /* gray-300 */
  color: #475569; /* gray-600 */
}

.btn-secondary-custom:hover {
  background-color: #f1f5f9; /* gray-100 */
  border-color: #94a3b8; /* gray-400 */
}
